@import "helpers/variables";
@import "helpers/fonts";
@import "helpers/reset";

::selection {
  color: white;
  background: $primary;
}

main {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  background: #f9fbfe;
  min-height: 100vh;
  .container {
    max-width: 85%;
    margin: auto;
    padding: 30px 80px;
    flex: 1 1 0%;
  }
}

.textbox {
  padding: 15px;
  border: 2px solid #d9dbe4;
  border-radius: 5px;
  font-size: 16px;
  color: $black;
  &:focus {
    border-color: $primary;
  }
}

.textbox-primary {
  border: none;
  font-size: 28px;
  font-weight: 800;
  color: #2b3548;
  &::placeholder {
    color: #ccc;
  }
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  label {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
  }
}

.text-primary {
  color: $primary;
}

.text-red {
  color: $red;
}

a {
  &.btn-cancel {
    font-weight: 600;
    color: $gray;
    &:hover {
      text-decoration: underline;
    }
  }
}

.card {
  margin: 20px 0 50px;
  padding: 30px;
  box-shadow: rgba(0, 38, 97, 0.15) 0px 3px 6px 0px,
    rgba(0, 38, 97, 0.2) 0px 10px 30px -20px;
  background: white;
  border-radius: 8px;
  .card-title {
    margin-bottom: 25px;
    &-text {
      font-size: 14px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #757575;
    }
  }
  .card-content {
    margin-top: 10px;
  }
  .card-footer-action {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    button {
      max-width: 171px;
    }
  }
}

.badge {
  font-size: 13px;
  padding: 5px 7px;
  font-weight: 600;
  display: inline;
  border-radius: 4px;
  color: $gray;
  background: rgb(156, 156, 156, 0.2);
  &.badge-danger {
    color: $red;
    background: rgb(241, 40, 40, 0.3);
  }
  &.badge-primary {
    color: $primary;
    background: rgb(6, 91, 194, 0.3);
  }
}

.menu-profile {
  cursor: pointer;
}

.card-title,
.menu-profile {
  position: relative;
  &:hover .header-profile-dropdown {
    display: block;
    animation: dropdownAnimation 0.4s cubic-bezier(0.73, 0.005, 0.22, 1);
  }
  .header-profile {
    display: flex;
    align-items: center;
    .header-profile-avatar {
      width: 40px;
      height: 40px;
      background: #2b3548;
      border-radius: 100%;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 18px;
      color: white;
      margin-right: 14px;
      font-weight: 700;
    }
    .header-profile-detail {
      display: flex;
      flex-direction: column;
      p {
        font-size: 13px;
        margin-top: 3px;
        color: $gray;
      }
    }
  }
  .header-profile-dropdown {
    display: none;
    box-shadow: 0 0.5rem 0.75rem rgba(0, 0, 0, 0.05);
    background: white;
    padding: 1rem 1.25rem;
    position: absolute;
    top: 100%;
    width: 15rem;
    border: 1px solid rgb(228, 228, 231);
    border-radius: 0.5rem;
    .dropdown-label {
      color: rgb(62, 69, 67);
      font-weight: 700;
      margin-bottom: 0.75rem;
    }
    .dropdown-link {
      display: inline-block;
      font-size: 14px;
      margin: 0.5rem 0;
      color: #616161;
      line-height: 1.6;
      cursor: pointer;
      &.logout-link {
        background: $red;
        padding: 0.5rem 1rem;
        color: white;
        border-radius: 0.35rem;
        &:hover {
          color: white;
          background: #dc2121;
        }
      }
      &:hover {
        color: $primary;
      }
    }
    .dropdown-line {
      height: 1px;
      width: 100%;
      background: rgb(228, 228, 231);
      margin: 1rem 0;
    }
  }
}

@keyframes dropdownAnimation {
  from {
    opacity: 0;
    transform: scale(0.98) translateY(-0.6em);
  }
  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.bold {
  font-weight: 700;
}
.light {
  font-weight: 400;
}

// .radio-button-container {
//   position: relative;
//   width: 25px;
//   height: 25px;
//   input {
//     position: absolute;
//     opacity: 0;
//   }
//   span {
//     position: absolute;
//     display: inline-block;
//     background: $primary;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     &::after {
//       content: "";
//       background: $primary;
//       border-radius: 50%;
//       width: 11px;
//       height: 11px;
//       border: 3px solid white;
//     }
//   }
// }
